@charset "utf-8";
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-repeat: no-repeat;
}

main{
  margin: 70px auto 0;
  width: 100%;
  max-width: 1920px;
  background-image: url(../assets/img/index/back-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.75);
  background-blend-mode: lighten; 
  text-align: center;
}
.news{
  margin: 0 auto;
}

h1{
  font-size: 1.6rem;
  padding: 20px 0 0;
}
.section{
  margin: 0 auto;
}
.section ul{
  width: 90%;
  max-width: 1000px;
  display: flex;
  list-style-type: none;
  margin: 0 auto;
  color: #fff;
}

.section ul li{
  width: 50%;
  margin: 30px;
  padding-top: 350px;
  padding-bottom: 50px;
  height: auto;
}
.newmoon{
  background-image: url(../assets/img/menu/newmoon.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.fullmoon{
  background-image: url(../assets/img/menu/moon.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
.price{
  margin-bottom: 30px;
}
@media(max-width:820px){

.news{
  width: 90%;
}
.section ul{
  width: 95%;
}
.section ul li{
  margin: 10px;
}

}